/* App.css */
html {
    scroll-behavior: smooth;
  }
  span svg {
    max-width: 9vh;
    max-height: 9vw;
    height: auto;
    width: auto;
}

  /* App.css */
.fade-out {
  animation: fadeOut 4s ease-out;
}

@keyframes fadeOut {
  from {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}
#filtershadow{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}