/* App.css */
html {
    scroll-behavior: smooth;
  }
  span svg {
    max-width: 9vh;
    max-height: 9vw;
    height: auto;
    width: auto;
}
.boxshadow:hover{box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
  /* App.css */
.fade-out {
  animation: fadeOut 4s ease-out;
}

@keyframes fadeOut {
  from {
    opacity:1;
  }
  to {
    opacity: 0;
  }
}
#filtershadow{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#loginpopup{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}